.div {
  width: 100%;
  display: block;
  text-align: start;
  color: #ffff;
  letter-spacing: 0.2pc;
}

p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 5px;
  
}

.inputDesc {
  display: block;
  width: 200px;
  height: 56px;
  background-color: #2d415b;
  border: 0;
  margin-bottom: 15px;
  border-radius: 5px;
  color: #ffff;
  padding: 5px;
}

textarea:focus,
input:focus,
select:focus {
  border: 0;
  outline: 0;
  box-shadow: none;
}

.personalizacao {
  margin-bottom: 20px;
  display: block;
  width: 200px;
  height: 56px;
  background-color: #2d415b;
  border-radius: 5px;
  border: 0;
  color: #ffff;
}

.cor {
  width: 200px;
  height: 56px;
  border-radius: 16px;
  margin-bottom: 20px;
  background-color: transparent;
  border: none;
}

.borda{
  display: flex;
  text-align: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 210px;
  height: 60px;
  margin-bottom: 15px;
}

button {
  width: 200px;
  height: 56px;
  background-color: #5081fb;
  border: 0;
  border-radius: 5px;
  color: #ffff;
}

@media(max-width:450px){
    .div{
        margin-top: 1rem;
    }
    .titulo{
        opacity: 1;
    }
    
    .inputDesc, .personalizacao, .cor{
       visibility: visible;
       width: 90vw
    }

    button{
        width: 90vw;
    }

}

@media screen and (min-width: 450px) and (max-width: 1024px){
   .titulo{
    opacity: 1;
   }

   .inputDesc{
    width: 95vw;
   }

  .personalizacao{
    width: 45vw;
  }
  .cor{
    width: 45vw;
  }

  button{
    width: 95vw;
  }

  .perso{
    display: flex;
    gap: 30px;
  }
}
