.container{
  font-family: "Inter", serif;
  color: #fff;  
   max-width: fit-content;

}

.menu{
    font-weight: 400;
    letter-spacing: .6pc;
    padding-bottom: 20px;
    text-align: left;
   
}

.div{
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
   
}


.lista{
    list-style-type: none;
    
}

.item{
    align-self: center;
    
}

@media (max-width:450px){
      .container{
        display: none;
        color: #fff;
      }
     
      .aside{
        display: flex;
        justify-content: flex-end;
        margin: 1rem;
        padding: 10px;
        
      }

      .div img{
         width: 40px;
      }

      .menuHamburger{
        display: flex;
        position:absolute;
        background-color: #041832;
        border-radius: 5px;
        max-width: 100%;
        margin: 0;
        width: 50vw;
        padding-bottom: 0;
        color: #fff;
        justify-items: flex-end;
        z-index: 10;
      }
      .lista{
        align-items: flex-end;
      }
}