.container{
  font-family: "Inter", serif;
  color: #fff;  
   max-width: fit-content;

}

.menu{
    font-weight: 400;
    letter-spacing: .6pc;
    padding-bottom: 20px;
    text-align: left;
   
}

.div{
    display: flex;
    gap: 20px;
    padding-bottom: 10px;
   
}


.lista{
    list-style-type: none;
    
}

.item{
    align-self: center;
    
}

.perfil{
  display: none;
}

@media (max-width:450px){
      .container{
        display: none;
        color: #fff;
      
      }
      .menu{
        display: none;
      }
      
     
      .aside{
        display: flex;
        margin: 1rem;
        padding: 5px;
        position: absolute;
        box-sizing: border-box;
        padding-top: 5px;
        left: 55%;
        width: 224px;
        height: 572px;
        background-color: #2d415b;
        border-radius: 16px;
        
      }

      .linha{
          width: 100%;
          height: 1px;
          background-color: #fff;
          opacity: 0.4;
      }

      .div img{
         width: 40px;
      }

      .menuHamburger{
        display: flex;
        position:absolute;
        background-color: #041832;
        border-radius: 5px;
        max-width: 100%;
        margin: 0;
        width: 50vw;
        top: 12%;
        padding-bottom: 0;
        color: #fff;
        justify-items: flex-end;
        z-index: 10;
      }
      .lista{
        align-items: flex-end;
        padding: 16px;
      }
      .nome{
        opacity: 1;;
      }
      .perfil{
        display: flex;
        margin-top: 30px;
        gap: 10px;
      }
      .perfil img{
        border-radius: 50%
      }
}

@media screen and (min-width: 450px) and (max-width: 1024px){
   .container{
    display: none
   }
   
   .menu{
    display: none;
   }

   .aside{
    display: flex;
    margin: 1rem;
    padding: 5px;
    position: absolute;
    box-sizing: border-box;
    padding-top: 5px;
    left: 100%;
    width: 260px;
    height: 572px;
    background-color: #2d415b;
    border-radius: 16px;
    
  }
   .menuHamburger{
    display: flex;
    position:absolute;
    background-color: #041832;
    border-radius: 5px;
    max-width: 100%;
    margin: 0;
    width: 50vw;
    top: 12%;
    padding-bottom: 0;
    color: #fff;
    justify-items: flex-end;
    z-index: 10;
   }
  
  
}