.display {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.post {
  display: flex !important;
  flex-wrap: wrap;
  border: none;
}

pre code .hljs {
  background-color: transparent !important;
}

.conteiner {
  display: block;
  background-color: #041832;
  width: 35vw;
  text-align: left;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 20px;
}

.code{
  height: 14vw;
  background-color: black;
  border-radius: 10px;
  width: 30vw; 
  overflow-x: hidden;
  overflow-y: auto;
  white-space: normal; 
  line-height: 1.5;
  padding: 8px;
}

.code::-webkit-scrollbar{
  background-color: transparent;
}

code {
  flex-wrap: wrap;
}

pre {
 
  white-space: pre-wrap;  
  word-wrap: break-word;  
  
}

.div {
  justify-self: center;
  background-color: black !important;
  color: rgb(231, 229, 225);
  border-radius: 5px;
  width: 30vw;
  height: 30vh;
}

.divCor {
  padding: 15px;
  border-radius: 5px;
}

.secao {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.infos {
  margin: 20px;
  color: rgb(243, 231, 231);
}

.icones {
  display: flex;
  margin-left: 20px;
  text-align: left;
  gap: 10px;
  width: 100px;
}

.img {
  width: 24px;
  height: 24px;
}

.perfil {
  display: flex;
  color: white;
  margin-right: 20px;
}

.imgPerfil {
  border-radius: 50px;
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 450px) {
  .conteiner {
    width: 85vw;
    height: 40vh;
  }
  .div {
    width: 70vw;
    height: 20vh;
  }
  .code{
    width: 70vw;
    height: 20vh;
  }
  .secao{
    padding: 0;
  }

  .infos {
    font-size: 13px;
    margin-left: 13px;
    .p {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 450px) and (max-width: 1080px) {
  .conteiner {
    width: 80vw;
    height: 44vh;
    gap: 20px;
    padding: 1rem;
  }
  .div {
    width: 70.2vw;
    height: 20.5vh;
  }

  .code {
    width: 70vw;
    height: 20vh;
    margin: 0;
    padding: 10px;
  }

  .p {
    opacity: 1;
    font-size: 16px;
  }

  .secao {
    justify-content: space-between;
    padding: 0;
    
  }

  .perfil {
    justify-self: flex-end;
  }
}


