.editor{
    margin: 1rem;
    display: grid;
    grid-template-columns: 20% 55% 20% ;
    text-align: center;
    gap: 20px;
    width: 100%;
    min-height: 100vh;
}

.comunidade {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 20% auto auto;
    grid-template-rows: 20% auto auto;
    margin: 1rem;
    width: 100%;
    min-height: 100vh;
    gap: 10px;
}


@media (max-width:450px){
    .editor{
        display: block;
        justify-content: center;
    }

    .comunidade{
        display: block;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 450px) and (max-width: 1024px){
   .editor{
    display: block;
    margin: 1rem;
    justify-content: center;
    align-items: center
     
   };

}